<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico" type="icon">
    <title>JYU Online Judge Problem Set</title>
    <script type="text/javascript">
        /*
    表单验证
*/
        var flag = false;   // flag 如果为true（即用户名合法）就允许表单提交， 如果为false（即用户名不合法）阻止提交
        // 当鼠标聚焦于用户名
        function focus_username()
        {
            // 找到后面的div, id = result_name
            var nameObj = document.getElementById("one");
            nameObj.innerHTML = "用户名不能包含特殊字符且为5~20位";
            nameObj.style.color="#ff0a00";
            <span>输入</span>
        }
        // 当鼠标不聚焦于用户名input
        function blur_username()
        {
            // 找到id=result_name的div
            var nameObj = document.getElementById("one");
            // 判断用户名是否合法
            var str2 = check_user_name(document.form1.username.value);
            nameObj.style.color="red";
            if ("该用户名合法" ==  str2)
            {
                flag = true;
                nameObj.innerHTML = str2;
            }
            else
            {
                nameObj.innerHTML = str2;
            }

        }
        // 检查用户名是否合法        合法就返回"该用户名合法"
        function check_user_name(str)
        {
            var str2 = "该用户名合法";
            if ("" == str)
            {
                str2 = "用户名为空";
                return str2;
            }
            else if ((str.length < 5) || (str.length > 20))
            {
                str2 = "用户名必须为5 ~ 20位";
                return str2;
            }
            else if (check_other_char(str))
            {
                str2 = "不能含有特殊字符";
                return str2;
            }
            return str2;
        }
        // 验证用户名是否含有特殊字符
        function check_other_char(str)
        {
            var arr = ["&", "\\", "/", "*", ">", "<", "@", "!"];
            for (var i = 0; i < arr.length; i++)
            {
                for (var j = 0; j < str.length; j++)
                {
                    if (arr[i] == str.charAt(j))
                    {
                        return true;
                    }
                }
            }
            return false;
        }
        // 根据验证结果确认是否提交
        function check_submit()
        {
            if (flag == false)
            {
                return false;
            }
            return true;
        }
    </script>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>

<body>

<!--主页栏-->
<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><a href="problemSet.html"><i class="fa fa-dashboard" ></i> 问题</a></li>
                <li><a href="contest.html"><i class="fa fa-bar-chart-o"></i> 比赛/考试</a></li>
                <li><a href="status.html"><i class="fa fa-table"></i> 提交状态</a></li>
                <li><a href="team.html"><i class="fa fa-edit"></i> 团队</a></li>
            </ul>
            <!--登陆状态栏-->
            <!--/*@thymesVar id="loginUser" type=""*/-->
            <ul class="nav navbar-nav navbar-right navbar-user" >
                <li class="dropdown user-dropdown" th:if="${loginUser == null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-user"></i> 登录 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="divSW()"><i class="fa fa-user"></i> 登录</a></li>
                        <li class="divider"></li>
                        <li><a href="/welcome"><i class="fa fa-gear"></i>注册</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user" th:if="${loginUser != null}">
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-user"></i>  <span th:text="${loginUser}">用户名</span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-power-off"></i> 注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <!--    标题栏-->
</div><!-- /#page-wrapper -->
<!-- JavaScript -->
<!--登陆浮窗-->
<div class="modal fade in"  id="hide" tabindex="-1" role="dialog" style="display: block; padding-right: 16px; display: none" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal" onclick="divSW()">
                    <span>×</span>
                </button>
                <!--                <h4 class="modal-title" id="loginModalLabel" th:if="$session.login.username ">登录</h4>-->
            </div>
            <div class="modal-body">
                <form id="login-form" method="post" action="index.html">
                    <div class="form-group">
                        <!--<label for="login-username" class="form-control-label">Username:</label>-->
                        <input type="text" class="form-control" id="login-username" name="username" placeholder="学号">
                    </div>
                    <div class="form-group">
                        <!--<label for="login-password" class="form-control-label">Password:</label>-->
                        <input type="password" class="form-control" id="login-password" name="password" placeholder="密码">
                    </div>
                    <input type="submit" style="display: none">
                </form>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger" role="alert" id="login-alert" style="display: none;"></div>
                <button type="button" class="btn btn-primary" id="btn-login">登录</button>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->

<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/fun/divSW.js"></script>
<script src="js/fun/divSW1.js"></script>

</body>
</html>