<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico" type="icon">
    <title>JYU Online Judge</title>
    <script type="text/javascript">
    </script>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>
<body style="background-color: rgb(34,34,34)">

<!--主页栏-->
<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><a href="problemSet.html"><i class="fa fa-dashboard" ></i> 问题</a></li>
                <li><a href="contest.html"><i class="fa fa-bar-chart-o"></i> 比赛/考试</a></li>
                <li><a href="status.html"><i class="fa fa-table"></i> 提交状态</a></li>
                <li><a href="team.html"><i class="fa fa-edit"></i> 团队</a></li>
            </ul>
            <!--登陆状态栏-->
            <!--/*@thymesVar id="loginUser" type=""*/-->
            <ul class="nav navbar-nav navbar-right navbar-user" >
                <li class="dropdown user-dropdown" th:if="${loginUser == null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-user"></i> 登录 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="divSW()"><i class="fa fa-user"></i> 登录</a></li>
                        <li class="divider"></li>
                        <li><a href="/welcome"><i class="fa fa-gear"></i>注册</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user" th:if="${loginUser != null}">
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-user"></i>  <span th:text="${loginUser}">用户名</span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-power-off"></i> 注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <!--    标题栏-->
</div><!-- /#page-wrapper -->

<!--内容-->
<div id="page-wrapper" >
<!--    个人信息-->
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> 个人信息</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge" th:text="${session.login.realname}"></span>
                        <i class="fa fa-calendar"></i> 姓名
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge" th:text$="{session.loginClass}"></span>
                        <i class="fa fa-comment"></i> 班级
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge" th:text$="{session.loginCollege}"></span>
                        <i class="fa fa-truck"></i> 学院
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge" th:text="${session.loginID}"></span>
                        <i class="fa fa-money"></i> 学号
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge" th:text="${session.problemnum}"></span>
                        <i class="fa fa-user"></i> 提交题目数
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge" th:text="${session.passnum}"></span>
                        <i class="fa fa-check"></i> 通过题目数
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
<!--    团队修改-->
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <a class="announcement-heading"  style="text-decoration: none ;cursor:pointer">团队信息</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        个人信息修改-->
        <div class="col-lg-3">
            <div class="panel panel-warning" >
                <div class="panel-heading" style="background-color: rgba(49,23,255,0.59) ; border-color: rgba(0,0,0,0.53)">
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <a class="announcement-heading" style="color: white ; text-decoration: none ;cursor:pointer">信息修改</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        刷题记录-->
        <div class="col-lg-3">
            <div class="panel panel-danger" >
                <div class="panel-heading" style="background-color:#626062">
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <a class="announcement-heading" style="color: white ;text-decoration: none ;cursor:pointer" >刷题记录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        比赛记录-->
        <div class="col-lg-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <a class="announcement-heading" style="text-decoration: none ;cursor:pointer">比赛记录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /#page-wrapper -->
</div>

<!-- JavaScript -->
<script src="js/fun/divSW.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>
</body>
</html>