<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>比赛集</title>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <!--    导航栏-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="home">主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/set/1">题集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contest/1">比赛</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="status">状态</a>
                </li>
            </ul>
            <div class="dropdown offset-md-9">
                <a class="dropdown-toggle text-info" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                   th:text="${#session.getValue('username')}">
                    HZH
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="user">个人主页</a>
                    <a class="dropdown-item" href="/">登出</a>
                </div>
            </div>
        </div>
    </nav>

    <br>
    <div class="row">
        <span class="col"></span>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                页码
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <a th:each="pa : ${pages}" th:text="${pa}" th:href="@{/set/{p}(p=${pa})}">1</a>
            </div>
        </div>
        <span class="col"></span>
    </div>
    <div class="row">
        <div class="input-group mb-3">
            <span class="col"></span>
            <form class="form-inline" method="post" action="problemSearch">
                <input type="text" class="form-control"
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="搜索">
                </div>
            </form>
            <span class="col"></span>
        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <span class="col"></span>
        <div class="col-11">
            <ul class="list-group list-group-horizontal text-break">
                <li class="list-group-item col-3">比赛ID</li>
                <li class="list-group-item col-4">比赛名</li>
                <li class="list-group-item col-3">创建者</li>
                <li class="list-group-item col-2">状态</li>
            </ul>
            <a th:each="problem : ${problems}" th:href="@{/problem/0/{prid}(prid=${problem.getId()})}">
                <ul class="list-group list-group-horizontal text-break">
                    <li class="list-group-item col-3" th:text="${problem.getId()}">1</li>
                    <li class="list-group-item col-4" th:text="${problem.getTitle()}">nihao</li>
                    <li class="list-group-item col-3" th:text="${problem.getAccept()}">
                        123
                    </li>
                    <li class="list-group-item col-2" th:text="${problem.getSubmit()}">测试状态</li>
                </ul>
            </a>
        </div>
        <span class="col"></span>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>